@import '../assets/styles/core';

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  .title {
    color: map-get($map: $brand-palette, $key: 500);
    font-family: 'Mk8-Text', sans-serif;
    font-weight: 500;
    font-size: 3rem;
  }
  .subtitle {
    color: rgba($color: black, $alpha: 0.87);
  }
}