@font-face {
  font-family: 'Saira';
  src: url('../fonts/SairaCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Saira';
  src: url('../fonts/SairaCondensed-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Saira';
  src: url('../fonts/SairaCondensed-Light.ttf');
  font-weight: lighter;
}
@font-face {
  font-family: 'Saira';
  src: url('../fonts/SairaCondensed-Thin.ttf');
  font-weight: light;
}