
<div class="mode-selection">
  <mat-expansion-panel class="margins">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="panel-title">
          Automatic Mode
        </p> 
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>TODO: ADD AUTOMATIC MODE HERE</p>
  </mat-expansion-panel>
  <p class="margins text-between">OR</p>
  <mat-expansion-panel class="margins">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="panel-title">
          Manual Mode
        </p> 
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>TODO: ADD MANUAL MODE HERE</p>
  </mat-expansion-panel>
</div>