.automatic {
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  .automatic {
    .parts-display {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}