.mode-selection {
  padding: 0;
  .panel-title {
    font-size: 2rem;
  }
  .margins {
    margin: 1rem 0;
  }
  .text-between {
    font-size: 2rem;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .mode-selection {
    padding: 0 10%;
    .panel-title {
      font-size: 1.5rem;
    }
    .text-between {
      font-size: 1.5rem;
    }
  }
}